
body {
font-family: Arial,  Helvetica, sans-serif;
font-size:12px;
color:#666666;
background:#fff;
text-align:center;

}

* {
margin:0;
padding:0;
}

a {
color:#1E7ACE;
text-decoration:none;  
}

a:hover  {
color:#000;
text-decoration:underline;
}
h3 {
font-size:14px;
font-weight:bold;
}



pre,p {
color:#1E7ACE;
margin:4px;
}
input, select,textarea {
padding:1px;
margin:2px;
font-size:11px;
}
.buttom{
padding:1px  10px;
font-size:12px;
border:1px #1E7ACE solid;
background:#D0F0FF;
}
#formwrapper {
width:800px;
margin:15px  auto;
padding:20px;
text-align:left;
border:1px #1E7ACE solid;
}


fieldset {
padding:10px;
margin-top:5px;
border:1px solid #1E7ACE;
background:#fff;
}


fieldset legend  {
color:#1E7ACE;
font-weight:bold;
padding:3px  20px 3px 20px;
border:1px solid #1E7ACE;  
background:#fff;
}


fieldset label {
float:left;
width:750px;
text-align:left;
padding:4px;
margin:1px;
}


fieldset div {
clear:left;
margin-bottom:2px;
}


.enter{  text-align:center;}
.clear {
clear:both;
}

.btn-box{
	margin-top:15px;
	border-top:1px solid #DDD;
	padding:10px 6px;
	vertical-align:middle;
}
#readpact{
	*margin-top:-4px;
	margin-right:4px;
}


