<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{$title}</title>

<link href="{$ROOT_ADMIN_PATH}images/css/css.css" type="text/css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="{$copyright}"> 
<meta type="keywords" content="{$keywords}">
<meta type="description" content"{$description}">
		<link type="text/css" href="images/css/jfstyle.css" rel="stylesheet" />
	</head>
	
	<BODY>
<div id="formwrapper">

 <h3>{$title}-管理员登陆界面</h3>
  <form name="form1" action="{$ROOT_ADMIN_PATH}login.php" method="post" id="form1">
<fieldset>
 <legend><span class="style1">军锋基地欢迎您的到来</span>！</legend>
  <br/> <div>现在时间：{$time_now}<br/>  
</div><br/> 



 <div>
   <label >管理员用户名：</label>
   <input type="text" class="text_m" name="admin_name"  \>
   <br/>  
   
</div>
 <div>
   <label >管理员密码：</label>
   <input type="password" class="text_m" name="admin_password"  \>
   <br/>  
   
</div>


  <div>
   <label for="yanzheng">验证码</label>
<input type="text" class="text_s" name="yanzheng" \> <img src="{$ROOT_PATH}lib/yanzheng.php" alt="看不清楚?请点击刷新" onclick="this.src=this.src+'?'+Math.random();" style="CURSOR:hand;">  *<br/>  
</div>
	
	
   <div class="enter">
   <input name="Submit"  type="submit" class="buttom" value="提交" />
   <input name="Submit" type="reset" class="buttom" value="重置" />
</div>
  

</fieldset>
  </form>
   
</div>




</BODY>
</html>