@charset "utf-8";
/* CSS Document */

*{font-family:"微软雅黑","宋体",Arial;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}  
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}  
table{}  
caption,th{text-align:left;font-weight:normal;}  
html,body,fieldset,img,iframe,abbr{border:0;}  
i,cite,em,var,address,dfn{font-style:normal;}  
[hidefocus],summary{outline:0;}  
li{list-style:none;vertical-align: bottom;}  
h1,h2,h3,h4,h5,h6,small{font-size:100%;}  
sup,sub{font-size:83%;}  
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}  
label,summary{cursor:default;}  
a,button{cursor:pointer;}  
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}  
del,ins,u,s,a,a:hover{text-decoration:none;}  
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}  
body{}  
a{color:#000;}
a:hover{color:#284E97;text-decoration: none; transition:all .5s ease-out 0s;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}

.b5{height:5px;}.b10{height:8px;}.b8{height:8px;}.b15{height:15px;}.b20{height:20px;}.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f15{font-size:15px;}.f16{font-size:16px;}
.border_radius_8px{-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.border_radius_5px{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

.SY_wrapper{overflow: hidden;background-color: #FFF;border-top:5px solid #666;border-right: 1px solid #666;border-left:1px solid #666;border-bottom:5px solid #666;padding:10px; margin:5px;}

.SY_wrapper .logo{width:250px; height:60px; color:#333}
.SY_wrapper .gName{width:630px;height:60px; line-height:60px; text-align:right; overflow:hidden; font-size:16px; font-weight:bold;}

.SY_wrapper .gBanner{}
.SY_wrapper .nav{height:30px; line-height:30px; font-size:16px; overflow:hidden;}
.SY_wrapper .nav a{line-height: 30px;display: block;height: 30px;width: 100px;text-align: center;float:left;margin-right:10px;background-color:#666; color:#FFF}
.SY_wrapper .nav a:hover{background-color:#DA1F2E; color:#FFF}
.SY_wrapper .nav .fr{ font-size:14px;}

.SY_wrapper .gIntroduction{background-color:#F7F7F7; border:1px solid #E4E4E4; padding:15px; line-height:25px;}
.SY_wrapper .gIntroduction a{color: #00F;text-decoration: underline;}
.SY_wrapper .gIntroduction a:hover{color:#000;}

.SY_wrapper .adminlist{font-size:13px;}

.SY_wrapper .megList{padding:0px 10px;border-top:#cccccc 3px solid;}
.SY_wrapper .bg1{background-color: #f8f8f8;}
.SY_wrapper .bg2{background-color: #FFF;}
.SY_wrapper .bg1:hover,.SY_wrapper .bg2:hover{border-top: #F60 3px solid;color: #000;background-color: #FFF0E6;}
.SY_wrapper .megList .meg .mTop{font-size:12px; border-bottom:#CCC 1px solid; color:#666; height:30px; line-height:30px;}

.SY_wrapper .megList .meg .mTop span.ico{background-repeat: no-repeat;background-position:left center;padding-left:20px;}
.SY_wrapper .megList .meg .mTop span.user{background-image: url(../images/user.png);}
.SY_wrapper .megList .meg .mTop span.time{background-image: url(../images/time.png);}

.SY_wrapper .megList .meg .mContent{padding:10px 0px; font-size:13px; line-height:23px;}
.SY_wrapper .megList .meg .mContent .reply{background-color: #FFFFFF;padding:5px 10px;font-size: 12px;border: 1px dashed #cccccc;margin-top:5px;color:#999;}
.SY_wrapper .megList .meg .mContent .reply .tit{ border-bottom:#cccccc 1px solid; padding-bottom:5px; margin-bottom:5px; color:#FF8080}
.SY_wrapper .megList .meg .mContent .reply .con{line-height:20px;}
.SY_wrapper .megList .meg .mSm{border-top:#CCC 1px solid; text-align:right; color:#666; font-size:12px;height:30px; line-height:30px;}
.SY_wrapper .megList .meg .mSm a.good{background-image: url(../images/good.png);background-repeat: no-repeat;background-position: left center;padding-left: 20px;color:#666}
.SY_wrapper .megList .meg .mSm span.address{background-image: url(../images/address.png);background-repeat: no-repeat;background-position:left center;padding-left:20px;}

.SY_wrapper .Megnew{display:inline-block;width:45px;height:13px;background-image: url(../../../images/new.gif);background-repeat: no-repeat;background-position: center center; margin-bottom:-2px; margin-left:1px;}

.SY_wrapper .pag{background-color:#F7F7F7; border:1px solid #E4E4E4;padding:15px; text-align:center}
.SY_wrapper .pag a{display: inline-block;height: 20px;line-height:20px;padding: 0px 6px;border: 1px inset #CCC;margin:0px 3px;background-color:#FFF; color:#666; font-size:12px;}
.SY_wrapper .pag a:hover,.SY_wrapper .pag a.Invalid,.SY_wrapper .pag a.present{border: 1px outset #CCC;background-color: #E8E8E8;color:#000;}

.SY_wrapper .gDisplayNo{background-color:#F7F7F7; border:1px solid #E4E4E4;padding:15px;}

.SY_wrapper .megAdd{border-top:#cccccc 3px solid; padding:15px 0px; padding-bottom:0px;}
.SY_wrapper .megAdd .addform{}
.SY_wrapper .megAdd .sm{width:350px; height:408px;border:1px solid #E4E4E4; padding:15px;}
.SY_wrapper .megAdd .sm .tit{ font-size:15px; font-weight:bold; line-height:30px;}
.SY_wrapper .megAdd .sm .con{ font-size:13px; line-height:25px;}

.SY_footer{margin:auto; height:30px; line-height:30px; font-size:12px; text-align:center;}
.SY_footer a{ color:#333}
.SY_footer a:hover{color:#F00}

.basic-grey{margin-left:auto;margin-right:auto;padding:15px;text-shadow:1px 1px 1px #FFF;border:1px solid #E4E4E4}
.basic-grey h1{font-size: 25px;padding: 0 0 15px 75px;display: block;border-bottom: 1px solid #E4E4E4;color: #888;margin-bottom: 15px;background-image: url(../images/logoMeg.jpg);background-repeat: no-repeat;background-position: left top;padding-top:5px;}
.basic-grey h1>span{font-size:12px; margin-top:8px;display:block;}
.basic-grey label{display:block;margin:0}
.basic-grey label>span{float:left;width:20%;text-align:right;padding-right:10px;margin-top:10px;color:#888}
.basic-grey input[type=text],.basic-grey input[type=email],.basic-grey select{border:1px solid #DADADA;color:#888;height:38px; line-height:38px; padding:0px 5px; margin-bottom:15px;outline:0 none;width:90%;font-size:14px;box-shadow:inset 0 1px 4px #ECECEC;-moz-box-shadow:inset 0 1px 4px #ECECEC;-webkit-box-shadow:inset 0 1px 4px #ECECEC;}
.basic-grey textarea{border:1px solid #DADADA;color:#888; padding:0px 5px; margin-bottom:15px;outline:0 none;width:90%;font-size:14px;box-shadow:inset 0 1px 4px #ECECEC;-moz-box-shadow:inset 0 1px 4px #ECECEC;-webkit-box-shadow:inset 0 1px 4px #ECECEC; line-height:20px;}
.basic-grey textarea{padding:5px 3px 3px 5px}
.basic-grey select{background:#FFF url(down-arrow.png) no-repeat right;background:#FFF url(down-arrow.png) no-repeat right);appearance:none;-webkit-appearance:none;-moz-appearance:none;text-indent:.01px;text-overflow:'';width:70%;height:35px;line-height:25px}
.basic-grey textarea{height:100px}
.basic-grey .submit{background:#E27575;border:none;padding:10px 25px 10px 25px;color:#FFF;box-shadow:1px 1px 5px #B6B6B6;border-radius:3px;text-shadow:1px 1px 1px #9E3F3F;cursor:pointer}
.basic-grey .submit:hover{background:#CF7A7A}
.basic-grey span.Prompt{margin-bottom:15px;display:block;}

.Validform_wrong{color:#F00}
.Validform_right{color:#090}
.basic-grey input.Validform_error,.basic-grey textarea.Validform_error{border:#F00 1px solid}

@media (min-width:641px){body{width:640px;margin:auto;}}